body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f6f6f6;
    position: relative;
    width: 100%;
}

.nav-mobile {
    display: none;
}

.nav-desktop ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
}

.nav-desktop ul li {
    margin: 0% 4% 0% 4%;
}

.nav-desktop ul li a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.profile-image {
    width: 400px; 
    height: auto;
    border-radius: 20%; 
    object-fit: cover; 
    
}


#hero h1 {
    font-size: 2.5rem;
}

.highlight {
    font-family: "Playwrite DK Loopet", cursive;
    color: var(--dark-gray);
    font-size: 50px;
}

.im-magali {
    font-size: 40px;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    margin-left: 20px;
}

#hero p {
    font-size: 1.2rem;
    color: #555;
    max-width: 100%; 
    margin: 0; 
    padding: 0 10px; 
}

#experience {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 40px;
}

#experience h2 {
    font-size: 2rem;
}

#experience p {
    font-size: 1.1rem;
    color: #333;
}

#education {
    padding: 50px;
    background-color: #f4f4f4;
}

#certification {
    padding: 50px;
    background-color: #f4f4f4;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

#education h2 {
    text-align: center;
    font-size: 2rem;
}

#intermediate-certificate {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 12%;
    margin-right: 12%;
    padding: 2%;
    background-color: #333;
    color: #f4f4f4;
}

#certification h2{
    text-align: center;
    font-size: 2rem;
}

.project-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background-color: white;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#skills {
    padding: 50px;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}


.skill p {
    font-size: 1rem;
    color: #333;
    margin: 0;
}

.skill-type {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.skill-type h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skill-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


#education {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

.education-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.education-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    transition: transform 0.2s;
}

.education-card:hover {
    transform: scale(1.05);
}

button.open-modal {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button.open-modal:hover {
    background-color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal[aria-hidden="false"] {
    display: flex;
}

.diploma-image {
    max-width: 90%;
    max-height: 50vh;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    object-fit: contain;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
    max-height: 80vh;
    width: auto;
    overflow-y: auto;
    outline: none;
    position: relative;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
}

span.close-modal:hover {
    color: #555;
}

ul {
    list-style: disc inside;
}

#certification {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

#contact {
    padding: 50px;
    text-align: center;
    background-color: #fff;
}

#contact h2 {
    font-size: 2rem;
}

#contact a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

form {
    width: 90%;
    max-width: 500px;
    margin: 0 auto; 
    background-color: #ffffff;
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input, form textarea, form button {
    width: 100%; 
    margin-bottom: 10px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

form button {
    background-color: #333; 
    color: white;
    cursor: pointer; 
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {

    .nav-desktop {
        display: none;
    }
    .nav-mobile {
        display: block;
        position: relative;
    }
    
    #menu-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
    }
    
    #menu-button img {
        width: 50px; 
        height: auto;
    }
    
    #dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 10px;
        list-style: none;
        background: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: none; 
    }
    
    #dropdown-menu:not([hidden]) {
        display: block;
    }
    
    
    #dropdown-menu a {
        text-decoration: none;
        padding: 8px 12px;
        color: #333;
        display: block;
    }
    
    #dropdown-menu a:hover {
        background-color: #e5e5e5;
        color: #0078D4;
    }

    #hero {
        min-height: 80vh;
    }

    .profile-image {
        width: 300px; 
        border-radius: 3%; 
        margin-bottom: 50px;
    }

    .project-grid {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .modal-content {
        width: 90%;
        max-width: 90%;
        padding: 15px;
    }

    .skill-type {
        display: flex;
        flex-direction: column; /* Coloca el título arriba y las habilidades abajo */
        align-items: center;    /* Centra horizontalmente el contenido */
       width: 86%;
    }
    
    .skill-type h3 {
        font-size: 22px;
        margin-bottom: 20px;    /* Espacio entre el título y los íconos */
        text-align: center;     /* Centra el texto del título */
        display: block;         /* Asegura que el título ocupe toda la línea */
    }
    
    .skill {
        flex-direction: column; /* Opcional: organiza ícono y texto verticalmente */
        align-items: center;    
    }

    .skill-icon {
        width: 80px;
        height: 80px;
    }
    
}
