@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


:root {
    --celestito: #9bc1bc;
    --crema: #f4f1bb;
    --salmon:#ed6a5a;
    --blanco: #fff;
    --negro:#000;
    --gris:#6d6d6d;
    --azul:#0064cf;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: var(--celestito);
    color: var(--negro);
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--salmon);
}

.comentario {
    font-family: 'Raleway', sans-serif;
    background-color: var(--blanco);
    padding: 20px;
    margin: 10px;
    border: 1px solid var(--crema);
    border-radius: 5px;
    width: 80%;
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
    color: #007BFF;
}

span {
    font-size: 14px;
    color: var(--gris);
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 20px;
}

a {
    color: var(--azul);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
