* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 18px;
}

.exercise {
    width: 25%;
    padding: 20px;
    text-align: center;
    margin: 4%;
    border: 2px solid #ccc;
    text-decoration: none;
    color: black;
    transition: background-color 0.8s; 
}

.exercise:hover {
    background-color: #333;
    color: white;
    font-weight: 500;
}
